.title{
    text-align: center;
    color: lightseagreen;
}

.img{
    border-radius: 50%;
    border-color: lightseagreen;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:25%
}