.button{
    text-align: center;
}

.footer{
    font-size: larger;
    color: lightseagreen;
    font-family: cursive;
    border-radius: 10px;
    padding: 8px;
    border: none;
    display: inline;
}

.one,.two,.three,.four{
    margin:8px;
}